:root{
    --bgcolor: lightgreen
}
header{
    width: 98%;
    height: 50px;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--bgcolor)
}
nav{
    width: 99%;
    height: 50px;
    border: 1px solid black;
    background-color: aqua;
    margin: 10px 0px;
}
main{
    width: 98%;
    height: 50px;
    border: 1px solid black;
    margin: 10px 0px;
    text-align: center;
    color: var(--bgcolor);
    padding: 10px ;
}
footer{
    width: 98%;
    height: 50px;
    border: 1px solid black; 
    text-align: center;
    background-color: var(--bgcolor);
    padding: 10px;
}
:root{
    --pakistan:skyblue
}
#a{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: var(--pakistan);
}
#b{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: var(--pakistan);
}
#c{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: var(--pakistan);
}
#d{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: var(--pakistan);
}
#e{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: var(--pakistan);
}
#f{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: var(--pakistan);
}
#g{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: var(--pakistan);
}
#h{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: var(--pakistan);
}
#i{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: var(--pakistan);
}
p{
    color:#af0eaf ;
}
span{
    width: 100%;
    height: 50px;
    border: 1px solid black;
    background-color: brown;
}
ul{
    display: flex;
    justify-content: center; 
    justify-content: space-evenly;   
    margin-bottom: 50px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
@media screen and (min-width:450px) {
    span{
        background-color: aqua;
    }
}
@media screen and (max-width:650px) {
    span{
        background-color: beige;
    }
}
@media screen and (max-width:650px) {
    span{
        background-color: #af0eaf;
    }
}
